<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>

<div class="container">

    <!-- LEFT PANEL -->
    <div class="left-panel">
        <div class="brand">Build Our Brand Together</div>
        <h1>Login page</h1>
        <p>Start your journey<br> </p>
    </div>

    <!-- RIGHT PANEL -->
    <div class="right-panel">
        <div class="login-box">
            <h2>Admin Login</h2>

            <form method="post" action="/login">

                <label>Username</label>
                <input type="text" name="username" required>

                <label>Password</label>
                <input type="password" name="password" required>

                <button type="submit">Login</button>
            </form>
        </div>
    </div>

</div>

</body>
</html>
